<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XKII-Sign up</title>
  </head>
  <body>
    <div class="home-wrapper">

        <div class="home-content-left-wrapper">
           <img src="/assets/signup_image.jpg" alt="signup image">
           <p class="paragraph-font">Szabolcs Bozó</p>
        </div> 
   
        <div class="home-content-right-wrapper">
           <div class="home-title-wrapper">
               <h1 class="h1-header">Sign up</h1>
           </div>

           <div class="signup-form-wrapper">
              <form action="/xkii/auth/sign-up" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required />
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required />
                <button type="submit">Create account</button>
              </form>
           </div>

           <div class="termsandconditions-wrapper">
             <p class="paragraph-font">
                By creating an account, you agree to our <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a>.
             </p>   
           </div>
        </div> 

     </div>  
  </body>
</html>
