<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artworks</title> 
</head>
<body>
  <nav class="artworks-navbar">
    <div class="artworks-header-wrapper">
      <h1>XKII</h1>
      <h2>@<%= user.username %></h2>
    </div>
    <div class="logout-button">
      <a href="/xkii/auth/log-out">Log out</a>
    </div>
  </nav>
  <div class="artworks-wrapper"></div>
  
  <a href="" class="edit-button">
    <img src="/assets/edit_icon.svg" alt="edit icon" style="width: 32px; height: 32px;">
  </a>
</body>
</html>