<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xkii</title> 
</head>
<body>
  <div class="home-image-wrapper">
    <img src="../public/assets/homeimage.jpg" alt="Home Image">
  </div>  
  <h1>XKII</h1>

  <p>Out-of-this-world contemporary art inspiration. Only the crème de la crème.</p>
  <a href="">Log in</a>
  <a href="">Sign up</a>
  <p>By creating an account you agree with our <a href="">Terms of Conditions</a> and <a href="">Privacy Policy</a></p>
</body>
</html>